version: "3.8"

services:
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
    networks:
      - trading-net

  frontend:
    build: ./frontend
    ports:
      - "8050:8050"
    volumes:
      - ./frontend:/app/frontend
      - ./shared:/app/shared
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_HOST=redis
      - PYTHONPATH=/app
    networks:
      - trading-net
    depends_on:
      - redis

  backend:
    build: ./backend
    volumes:
      - ./backend:/app/backend
      - ./shared:/app/shared
      - fix-store:/tmp/fix_store
      - fix-log:/tmp/fix_log
    environment:
      - PYTHONUNBUFFERED=1
      - REDIS_HOST=redis
      - PYTHONPATH=/app
    networks:
      - trading-net
    depends_on:
      - redis

networks:
  trading-net:
    driver: bridge

volumes:
  fix-store:
  fix-log:
